.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  margin: 0px;
  font-size: 9px;
}

.App-link {
  color: #61dafb;
}

#graphin-container {
  height: 70%;
}

.graphin-core {
  height: 85%;

}
.graphin-components {
  display: flex;
  height: 15%;
}

.graphin-components-legend {
  width: 25%;
}

#legend-edge-color{
  width: 25%;
}

.label {
  font-weight: bold;
}

.LoadingPage {
  position: absolute;
  top: 70px;
  left: 0px;
  background-color: white;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 75vh;
  visibility: visible;
  z-index: 2;
}